#root {
	width: 100vw;
	height: 120vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans';
}

body{
	background-color:   #1b906e;
}

.card-header-details .icon::before {
	position: relative;
  right: 7px;
  top: 1px;
}

.search-box input[type='search'] {
  width: 100%;
  font-size: 20px;
  border: 0;
  padding: .75rem .9375rem .9375rem;
  background: #e6ebed;
  text-align: center;
  box-sizing: border-box;
}
